@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*
{
  font-family: 'Gabarito', serif;
}
.navbar {
    border-radius: 0px 45px 0px 0px;
    width: 250px;
    height: 100%;
    /*background-image: linear-gradient(180deg, #bb1b31, #A91428 25%);*/
    background-image: linear-gradient(180deg, #a10c0c, #8C0001 25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e0e0e0;
  }

  .navbar img {
    width: 150px;
    margin-top: 30px;
  }

  .navbar ul {
    list-style: none;
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }

  .navbar ul li i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
  }
  .navbar ul li {
    margin: 20px 25px;
    text-align: left;
    width: 90%;
  }

  .navbar ul li a {
    font-weight: lighter;
    text-decoration: none;
    color: #ebebeb;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    white-space: nowrap;
  }

  .navbar ul li a:hover {
    background-color: #442b2b;
    color: #f4f4f4;
    width: 100%;
    border-radius: 10px 0 0 0;
    transition: background 0.3s ease, color 0.3s ease;

  }

  .navbar ul li a:hover i {
    color: #b94f35;
    transition: background 0.3s ease, color 0.3s ease;
  }

  .navbar a.active{
    color: #f6f6f6;
    font-weight: 700;
    border-radius: 10px 0 0 0;
    background-color: #442b2b3d;
  }

  .navbar .dropdown {
    position: relative;
    width: 90%;
  }

  .navbar .submenu {
    display: none;
    position: static;
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
  }

  .navbar .submenu-active {
        position: static;
    width: 101%;
    margin-top: 5px;;
    margin-left: -2.2%;
  }

  .navbar .submenu li {
    width: 100%;
    margin: 0;
  }

  .navbar .submenu li a {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .navbar .submenu li a:hover {
    background-color: #363131;
  }


  /* Make the Settings item non-clickable if desired */
  .navbar ul li a[href="#"] {
    cursor: default;
  }